.card {
  width: 280px;
  min-height: 450px;
  border-radius: $br-reg;
  display: flex;
  flex-direction: column;

  @include respond(bg) {
    max-width: 380px;
    flex-grow: 1;
  }

  @include respond(xl) {
    max-width: 280px;
  }

  &__content {
    padding: 0 1.2rem;
  }

  &__header {
    min-height: 19rem;
  }

  &__title {
    color: $color-black;
    font-size: $font-md-bg;
    font-weight: $weight-xl;
    margin: 14px 0;
  }
  &__rating {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 12px;

    &__star--disabled {
      fill: $color-grey--light-2;
    }
    &__star--active {
      fill: $color-yellow;
    }
    &__star--half {
      fill: url(#linear-gradient);
    }
  }

  &__text {
    color: $color-grey--light-3;
  }
  &__description {
    min-height: 6rem;
  }

  &__img {
    margin-bottom: 2rem;
  }

  &--main {
    background-color: $color-white;
    padding: 1.2rem;

    @include respond(sm) {
      padding: 0px !important;
    }
  }

  &--new {
    min-height: 490px;
    background-color: transparent;
    border: 2px dashed $color-violet--light-2;
    gap: 30px;
    align-items: center;
    justify-content: center;
    line-height: 2rem;

    @include respond(md) {
      flex-basis: 50% !important;
    }

    @include respond(sm) {
      height: 200px !important;
    }

    .card__text {
      width: 192px;
      text-align: center;
    }
  }

  &__price {
    font-size: $font-md;
    color: $color-black;
    font-weight: $weight-xl;
    text-transform: uppercase;

    &--old {
      color: $color-grey--light;
      text-decoration: line-through;
    }
  }

  &__action {
    font-size: $font-sm;
    border-radius: $br-sm;
    background-color: $color-green-2;
    color: $color-white;
    padding: 4px 6px;
  }

  &__footer {
    &__prices {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    padding: 17px 0;
    border-top: 1px solid $color-grey--light-2;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
