.mobile-btn {
  width: 100%;
  display: none;
  text-align: center;
  gap: 5px;
  justify-content: center;

  a {
    width: 280px;
    height: 44px;
    border: 1px solid $color-grey--light;
    border-radius: $br-md;
    background-color: $color-white;
    text-decoration: none;
    color: $color-black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include respond(md) {
    display: flex;
  }
  &--filters {
    display: none !important;
    @include respond(sm) {
      display: flex !important;
      margin-bottom: 15px;
    }
  }
}
