.user-category {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-violet--light;
  color: $color-violet;
  position: relative;

  &--small {
    font-size: $font-sm;
    gap: 9.6px;
    height: 2.2rem;
    border-radius: $br-sm;
    padding: 2px 8px;
  }
  &--big {
    font-size: $font-reg;
    gap: 14px;
    padding: 14px 20px;
    height: 4rem;
    border-radius: $br-md;
  }
  &__icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
  }
}
