*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  font-family: "Inter", sans-serif;

  scroll-behavior: smooth;

  @include respond(sm) {
    // width < 1200?
    /* font-size: 56.25%; */ //1 rem = 9px, 9/16 = 50%
  }

  @include respond(md) {
    // width < 900?
    /*  font-size: 50%;  */ //1 rem = 8px, 8/16 = 50%
  }

  @include respond(xl) {
    /*  font-size: 75%; */ //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;
  font-weight: $weight-sm;
  font-size: $font-reg;
}
