.header {
  &__main {
    @include respond(sm) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    border-bottom: 1px solid $color-grey--light-2;
    &--wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 115px;
      min-height: 7.2rem;

      @include respond(md) {
        justify-content: center;
      }
    }
  }
  &__location {
    display: flex;
    align-items: center;
    gap: 1.15rem;
    font-size: $font-reg;

    @include respond(md) {
      display: none;
    }
  }
  &__btns {
    display: flex;
    align-items: center;
    gap: 4.5rem;
    cursor: pointer;

    @include respond(md) {
      display: none;
    }
  }
  &__links {
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 112px;

    @include respond(bg) {
      margin: 0 20px !important;
    }

    @include respond(md) {
      display: none;
    }
  }
  &__link {
    text-decoration: none;
    color: $color-black;
    font-weight: $weight-md;
    font-size: $font-md;
    transition: all 0.2s;
    &:hover {
      color: $color-grey;
    }
  }
}
