.main {
  background-color: #f9fafb;
  &__content {
    margin: 0 11.2rem;
  }
  &__title {
    color: $color-black;
    font-size: $font-xxl;
    font-weight: $weight-xl;
    padding-bottom: 4rem;
  }
  &__banner {
    height: 408px;
    background-image: url("../img/Banner.png");
    background-size: cover;
    background-position: top;
    border-radius: $br-bg;
    position: relative;

    &--img {
      position: absolute;
      top: -10%;
      right: 42px;
    }
  }
}
